/* クラス や id と、 display、position、flex-box プロパティを駆使して、ページの体裁を整えることができます。*/
body{
    font-size: large;
    /*background-color: rgb(160, 233, 209);*/
}
div{
    font-size: larger;    
}
.inline_div{
    color: rgb(155, 102, 199);

}
.especial{
    background-color: rgb(236, 106, 106);
    color: white;
}
.title{
    border: 2px solid green;
}
.picture{
    /*float:right;/*
    /* positionは relative,absolute,fixed,stickyがある*/
    position:fixed; 
    top: 0px;
    right:0px;

}
.parent{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width: 300px;
    height:400px;
    border:3px solid green;
}
.child{
    width:100px;
    height: 100px;
    background-color: orange;
}
